* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  width: 100vw;
  height: 200vh;
  background-color: #decfcf;
}

.app {
  height: 100%;
  width: 80%;
  margin: 0 auto;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;

    .header-logo {
      text-decoration: none;
      font-family: 'Cormorant Garamond', serif;
      text-transform: capitalize;
      font-size: 25px;
      color: black;
    }

    .header-navbar {
      font-family: 'Raleway', sans-serif;
      text-transform: capitalize;
      font-size: 16px;

      .header-navbar__ancor {
        text-decoration: none;
        color: black;
        padding: 5px;
      }
    }

    .searchAndBuy {
      font-family: 'Raleway', sans-serif;
      text-transform: capitalize;
      font-size: 16px;

      a {
        text-decoration: none;
        color: black;
        padding: 5px;
      }
    }
  }

  .main-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 5px solid red;

    .collections {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;
      border: 4px solid saddlebrown;
    }

    .new-books {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;
      border: 4px solid blueviolet;
    }

    .bestselling {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;
      border: 4px solid green;
    }

    .everyone-talking-about {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;
      border: 4px solid darkgoldenrod;
    }

    .features {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;
      border: 4px solid black;
    }

    .events {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;
      border: 3px solid slateblue;
    }

    .sign-up {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;
      border: 3px solid firebrick;
    }
  }
}